#menu {
  padding: 24px;
  height: calc(var(--vh) * 100);
  background: rgb(250, 250, 252);
  position: relative;
}
#menu .app-icon {
  width: 84px;
  margin: 0 auto;
}
#menu .app-info {
  margin-top: 24px;
  padding-bottom: 12px;
  border-bottom: 0.3px rgba(0, 0, 0, 0.15) solid;
}
#menu .app-name {
  text-align: center;
  width: 100%;
  margin-top: 12px;
  font-size: 18px;
}
.back-home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-dark);
}
.back-home span {
  margin-left: 12px;
}
.nav-items {
  margin-top: 24px;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #606266 !important;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.nav-item:hover {
  color: var(--primary-color) !important;
}
.nav-item-active {
  background-color: var(--primary-bg-light);
}
.nav-item-active .nav-item-text,
.nav-item-active .nav-item-icon {
  color: var(--primary-color) !important;
}
.nav-item-icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}
.nav-item-icon > svg {
  width: 18px;
}
.nav-item-text {
  font-size: 13px;
  margin-left: 6px;
  font-weight: 600;
}
#menu .user-card {
  position: absolute;
  padding: 0 !important;
  bottom: 24px;
}
